.naglowek{
    background-color: antiquewhite;
    display: flex;
}
.logo-obrazek{
    height:50px;
}
.logo-nazwa{
	margin: 0;
}
.logo{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}
.lista{
    display: flex;
    list-style: none;
    gap: 15px;
}
.przycisk{
    margin-left: auto;
}