:root {
	--color-primary:#729B79;
	--color-secondary: #bacdb0;
	--header-height: 60px;
}

.header {
  background-color: var(--color-secondary);
  width: 100%;
  height: var(--header-height);
  display: flex;
}

html,
body,
h1,
p {
  margin: 0px;
}

.container {
  max-width: 1040px;
  margin: auto;
  width: 100%;
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__content--right {
  display: flex;
  margin-left: auto;
  gap: 25px;
  align-items: center;
}

.button {
  padding: 8px 24px;
  background: var(--color-primary);
  border-radius: 8px;
	align-self: flex-start;
  border: 0px;
  color: #FFFFFF;
}

.button--white {
  background: #FFFFFF;
  color: #2E2C2F;
}

.hero {
  background-color: var(--color-secondary);
  width: 100%;
  padding-bottom: 64px;
}

.hero__content {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.hero__content--left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 400px;
}

.hero__content--right {
  height: 264px;
  width: 509px;
  object-fit: cover;
}

.header__content-title {
  font-size: 25px;
  font-weight: 700;
}

.header__content-title--highlight {
	color: var(--color-primary);
}