.header {
  background-color: #bacdb0;
  width: 100%;
  height: 60px;
  display: flex;
}

html,
body,
h1,
p {
  margin: 0px;
}

.container {
  max-width: 1040px;
  margin: auto;
  width: 100%;
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__content--right {
  display: flex;
  margin-left: auto;
  gap: 25px;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 24px;
  background: #ffffff;
  border-radius: 8px;
  border: 0px;
}

.hero {
  background-color: #bacdb0;
  width: 100%;
  padding-bottom: 64px;
}

.hero__content {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.hero__content--left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 400px;
}

.hero__content--right {
  height: 264px;
  width: 509px;
  object-fit: cover;
}
